* {
  margin: 0;
  padding: 0;

  /* ? variable */

  --primary-color: #333;
  --secondary-color: #f4f4f4;
  --link-color: #fff;
  --link-hover-color: #ff5858;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: var(--link-hover-color);
}

/* * Navigation */
header {
  height: 7vh;
  background-color: var(--primary-color);
  text-align: center;
  min-height: 5vh;
  display: flex;
  justify-content: center; /* Change to space-between to accommodate the form */
  align-items: center; /* Center items vertically */
  padding: 0 2vw; /* Add some padding to the sides */
}

nav {
  color: var(--link-color);
  padding: 10px 0;
  text-align: center;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  border: var(--primary-color) solid 1px;
  padding: 0 1vw;
  margin: 2vh 0;
  border-right: var(--secondary-color) solid 2px;
  font-size: 1vw;
  vertical-align: bottom;
}

form {
  margin: 0.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select,
button {
  background-color: var(--primary-color);
  margin: 1vh 0;
  padding: 0 1.7vh;
  border: none;
  color: var(--link-color);
  font-size: 0.7vw;
}

select:hover,
button:hover {
  background-color: var(--link-color);
  color: var(--primary-color);
}

/* * main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83vh;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: center;
}

.aBlack {
  font-weight: 700;
  color: black;
}

section {
  width: 50%;
  margin: 1vh 2vw;
}

section ul {
  list-style: disc;
  padding: 0;
}

section ul li {
  margin: 1% 2vw;
}

/* * home */

.image-container {
  width: 300px; /* Largeur du conteneur */
  height: 300px; /* Hauteur du conteneur */
  overflow: hidden; /* Cache tout débordement */
  position: relative; /* Utile pour des effets ou ajustements supplémentaires */
  border: 2px solid black; /* Optionnel : pour visualiser les limites */
}

.image-profile {
  width: 100%; /* L'image s'adapte à la largeur du conteneur */
  height: auto; /* Conserve le ratio de l'image */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'image */
}

.main-content {
  margin: 2vh 2vw;
  padding: 2vh 2vw;
  width: 50%;
}

.main-content h1 {
  font-size: 1.5vw;
  margin: 1vh 0;
}

.main-content p {
  font-size: 0.8vw;
  margin: 1vh 0;
}

/* * material */

.material-article {
  margin: 1% 30%;
  margin-bottom: 0;
  padding-bottom: 1%;
  min-width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: #333 solid 3px;
}

.material-article * {
  margin: 0.5% 12.5%;
  min-width: 75%;
}

.material-article a {
  margin: 0;
  min-width: 0;
  text-align: center;
}

.material-article h2,
.material-article p {
  text-align: center;
}
/* * footer */

footer {
  background-color: var(--primary-color);
  color: var(--link-color);
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 7vh;
  padding-top: 3vh;
}
